body{
  background-image: url("https://img.freepik.com/premium-psd/3d-abstract-background-with-podium-scene-product-display_457716-528.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}